# ---------------------------------
# Python
# ---------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.py~


# ---------------------------------
# Virtual Environment
# ---------------------------------
venv/
env/
.venv/


# ---------------------------------
# Environment Variables
# ---------------------------------
.env
*.env


# ---------------------------------
# Flask / Build files
# ---------------------------------
instance/
*.db
*.sqlite3
*.log


# ---------------------------------
# VS Code / Editors
# ---------------------------------
.vscode/
.idea/
*.swp
.DS_Store


# ---------------------------------
# Docker / Compose
# ---------------------------------
docker-compose.override.yml
*.pid


# ---------------------------------
# Cache and OS files
# ---------------------------------
*.cache/
.cache/
Thumbs.db
