body {
    background: #f2f2f2;
    font-family: Arial;
}

.container {
    width: 400px;
    margin: auto;
    padding: 20px;
    background: white;
    margin-top: 50px;
    box-shadow: 0px 0px 10px #aaa;
    border-radius: 8px;
}

input, button {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
}

button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid #ccc;
    padding: 8px;
}

.link {
    display: inline-block;
    margin-top: 15px;
}
